@keyframes ripple-animation {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: var(--opacityStart, 0);
		transform: translate(var(--translateXStart, 0), var(--translateYStart, 0))
			scale(var(--scaleStart, 1));
	}
	100% {
		opacity: var(--opacityEnd, 1);
		transform: translate(var(--translateXEnd, 0), var(--translateYEnd, 0))
			scale(var(--scaleEnd, 1));
	}
}

@keyframes fadeOut {
	0% {
		opacity: var(--opacityStart, 1);
		transform: translate(var(--translateXStart, 0), var(--translateYStart, 0))
			scale(var(--scaleStart, 1));
	}
	100% {
		opacity: var(--opacityEnd, 0);
		transform: translate(var(--translateXEnd, 0), var(--translateYEnd, 0))
			scale(var(--scaleEnd, 1));
	}
}

@keyframes angle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
