@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;
#about {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 100%;
	background-color: var(--color-bg-main);
	& .about {
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 100px 0 0 0;
			&__subheadline {
				font-size: 18px;
				font-weight: 500;
				color: var(--color-text-heading);
				opacity: 0;
			}
			&__headline {
				font-size: 2.5rem;
				font-weight: bold;
				margin: 10px 0 0 0;
				color: var(--color-text-heading);
				opacity: 0;

				&:nth-of-type(2) {
					margin: 5px 0 0 0;
					color: var(--color-primary);
				}
			}
		}
		&__container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 50px 0 0 0;
			&__left,
			&__right {
				height: 800px;
				width: 650px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				justify-content: center;
				align-items: center;
				display: flex;
				position: relative;
				margin: 0 20px;
				cursor: pointer;
				border-radius: $border-radius-default;
				overflow: hidden;
				opacity: 0;
				box-shadow: var(--shadow-primary-glow);
			}
			&__left {
				background-image:
					linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
					url('/src/assets/images/office-background-1.png');
				& img {
					height: 100%;
					object-fit: cover;
					filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.25))
						drop-shadow(0 -2px 8px rgba(0, 0, 0, 0.5));
				}
			}
			&__right {
				background-image:
					linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
					url('/src/assets/images/office-background-2.png');

				& img {
					height: 100%;
					object-fit: cover;
					filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.25))
						drop-shadow(0 -2px 8px rgba(0, 0, 0, 0.5));
				}
			}

			&__left__name,
			&__right__name {
				position: absolute;
				font-size: 56px;
				font-weight: bold;
				color: white;
				font-family: var(--font-playfair);
			}
			&__left__name {
				top: 40%;
				left: -100px;
				transform: rotate(-90deg);
				z-index: 1;
			}
			&__right__name {
				top: 40%;
				right: -120px;
				transform: rotate(90deg);
				z-index: 1;
			}

			&__left__info,
			&__right__info {
				display: flex;
				width: 100%;
				padding: 20px;
				position: absolute;
				bottom: 20px;
				&::before,
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					background: var(--color-bg-contrast);
					z-index: 1;
					transition: all 350ms ease-out;
				}
				&::before {
					width: 100%;
				}
				&::after {
					width: 40%;
					background: var(--color-primary);
				}
			}

			&__left:hover .about__container__left__info::after,
			&__right:hover .about__container__right__info::after {
				width: 100%;
			}

			&__left:hover .about__container__details,
			&__right:hover .about__container__details {
				background: rgba(0, 0, 0, 0.8);
				& p {
					opacity: 1;
					--translateYStart: 30px;
					--translateYEnd: 0px;
					animation: fadeIn 550ms ease-out forwards;
					&::before {
						left: 20%;
						transform: translateX(0) translateY(-2000%);
						opacity: 1;
					}
					&::after {
						right: 20%;
						transform: translateX(0) translateY(2000%);
						opacity: 1;
					}
				}
			}

			&__left__info__title,
			&__right__info__title {
				& h5 {
					font-size: 12px;
					font-weight: 600;
					margin: 0 0 10px 0;
					color: var(--color-primary);
					font-family: var(--font-mono);
				}
				& h2 {
					font-family: var(--font-playfair);
					font-size: 38px;
					font-weight: bold;
					color: #fefefe;
				}
			}
			&__left__info__details,
			&__right__info__details {
				margin-left: auto;
				& p {
					font-family: var(--font-playfair);
					font-size: 64px;
					font-weight: bold;
					color: var(--color-text-body);
				}
			}
			&__details {
				display: flex;
				width: 100%;
				height: 100%;
				position: absolute;
				color: #fefefe;
				justify-content: center;
				align-items: center;
				text-align: center;
				transition: all 350ms ease;

				& p {
					width: 50%;
					font-family: var(--font-playfair);
					font-size: 18px;
					font-weight: 500;
					color: #fefefe;
					opacity: 0;
					transform: translateY(-20px);
					&::before,
					&::after {
						content: '';
						position: absolute;
						width: 200px;
						height: 2px;
						background: var(--color-primary);
						transition: all 350ms ease;
						opacity: 0;
					}
					&::before {
						left: 0%;
						transform: translateY(-2000%);
					}
					&::after {
						right: 0%;
						transform: translateY(2000%);
					}
				}
			}
		}

		&__extra {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 100px 0 0 0;
			opacity: 0;
			margin-bottom: 50px;
			& p {
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 5px;
				color: var(--color-primary);
				font-family: var(--font-mono);
			}
		}

		@include mixins.respond-down-to('2xl') {
			&__extra {
				margin: 80px 0;
				text-align: center;
				& p {
					letter-spacing: 4px;
				}
			}
		}

		@include mixins.respond-down-to('lg') {
			&__extra {
				margin: 80px 0;
				& p {
					font-size: 18px;
					letter-spacing: 4px;
				}
			}
		}

		@include mixins.respond-down-to('md') {
			&__extra {
				margin: 50px 0;
				text-align: center;
				& p {
					font-size: 18px;
					letter-spacing: 4px;
				}
			}
		}

		@include mixins.respond-down-to('sm') {
			&__container {
				flex-direction: column;
				&__left,
				&__right {
					width: 90%;
					height: 400px;
					margin: 20px 0;
				}
				&__left__name,
				&__right__name {
					top: 30%;
					font-size: 42px;
				}
				&__left__name {
					left: -70px;
				}
				&__right__name {
					right: -70px;
				}
			}
			&__content {
				text-align: center;
				&__headline {
					font-size: 28px;
				}
				&__subheadline {
					font-size: 16px;
				}
				margin: 20px 0 0 0;
				&__subheadline {
					margin: 0 0 10px 0;
				}
				&__headline {
					margin: 0;
				}
			}
			&__extra {
				margin: 20px 0;
				text-align: center;
				& p {
					font-size: 16px;
					letter-spacing: 3px;
				}
			}
		}
	}
}

.about--shown {
	& .about__content {
		&__subheadline {
			--translateYStart: 30px;
			--translateYEnd: 0px;
			animation: fadeIn 550ms ease-out forwards;
		}
		&__headline {
			--translateYStart: 30px;
			--translateYEnd: 0px;
			animation: fadeIn 550ms ease-out forwards;
			&::nth-of-type(1) {
				animation-delay: 400ms;
			}
			&::nth-of-type(2) {
				animation-delay: 1000ms;
			}
		}
	}
	& .about__container {
		&__left {
			animation: fadeIn 550ms ease-out forwards;
			animation-delay: 800ms;
		}

		&__right {
			animation: fadeIn 550ms ease-out forwards;
			animation-delay: 800ms;
		}
	}

	& .about__extra {
		--translateYStart: 30px;
		--translateYEnd: 0px;
		animation: fadeIn 550ms ease-out forwards;
		animation-delay: 1200ms;
	}
}
